# Slack Settings
SLACK_USER_TOKEN=xoxp-...

# Spotify Settings
SPOTIFY_CLIENT_ID=your_client_id_here
SPOTIFY_CLIENT_SECRET=your_client_secret_here
SPOTIFY_REFRESH_TOKEN=

# Optional Configuration
# EMOJI defaults to :headphones: if left blank
STATUS_EMOJI=:headphones:
